<div class="view360-container container py-4">
  

  <!-- Título -->
  <h3 class="fw-bold">Vista 360°</h3>
  <p class="text-muted">Vive la experiencia de un recorrido virtual</p>

  <!-- Botones -->
  <div class="row g-3 mt-3">
    <div class="col-12 col-md-6 d-grid">
      <button class="btn btn-cta">Interior del Acuario</button>
    </div>
    <div class="col-12 col-md-6 d-grid">
      <button class="btn btn-cta">Mirador de los tres volcanes</button>
    </div>
    <div class="col-12 col-md-6 d-grid">
      <button class="btn btn-cta">Granja Educativa</button>
    </div>
    <div class="col-12 col-md-6 d-grid">
      <button class="btn btn-cta">Acuario pequeño 1</button>
    </div>
    <div class="col-12 col-md-6 d-grid">
      <button class="btn btn-cta">Coto de pesca</button>
    </div>
    <div class="col-12 col-md-6 d-grid">
      <button class="btn btn-cta">Acuario pequeño 2</button>
    </div>
  </div>
</div>
